[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

keras = "*"
pandas = "*"
numpy = "*"
jupyter = "*"
theano = "*"
"scikit-learn" = "*"
"jupyter-contrib-nbextensions" = "*"
pillow = "*"
pymongo = "*"
matplotlib = "*"
seaborn = "*"
"h5py" = "*"
bcolz = "*"
cookiecutter = "*"


[dev-packages]